.como__funciona--titulo {
  color: var(--fonte-bold);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}


@media (max-width: 768px) {
  .como__funciona--titulo {
    font-size: 2rem;
  }
}