@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: currentColor;
    transition: .3s;
    position: relative;
  }

  #menu.active #hamburguer {
    border-top-color: transparent ;
  }

  #menu.active #hamburguer::before {
    transform: rotate(135deg);
    top: 7px;
  }

  #menu.active #hamburguer::after {
    transform: rotate(-135deg);
  }

  .menu__lista {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background-color: var(--lilas-bg);
    transition: .6s;
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu.active .menu__lista {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }

  .menu__lista a {
    width: 100vw;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(0,0,0, .05);
  }


}