.contato__email {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--lilas-bg);

  width: 20rem;
  color: var(--lilas-bg);
}

.contato__email::placeholder {
  color: var(--lilas-bg);
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 768px) {
  .contato__email  {
    width: 13rem;
  }
}